
extends ../../layouts/frontend

block content 
    main.confirm-email-template(marginheight="0", topmargin="0", marginwidth="0", leftmargin="0")
        table(cellspacing="0", cellpadding="0", width="100%")
            tr
                td
                    table.confirm-email-tbl(width="100%", cellpadding="0", cellspacing="0")
                        tr
                            td.confirm-email-td1
                        tr
                            td.confimr-email-td2
                        tr
                            td
                                table.confirm-email-table(width="95%", cellpadding="0", cellspacing="0")
                                    tr
                                        td.confirm-email &amp;nbsp;
                                    tr
                                        td.confirm-email-td3
                                            h1.confirm-email-text
                                                | 
                                                | Your password has been reset succesfully
                                            span.confirm-email-span
                                            p.confirm-email-msg
                                                | 
                                                | You can login by clicking the below button
                                            a.confirm-email-login(href="http://localhost:8000")
                                                | 
                                                | Login
                                    tr
                                        td.confirm-email &amp;nbsp;
